@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/woff/IRANSansX-medium.woff') format('woff'),
    url('../fonts/woff2/IRANSansX-medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/woff/IRANSansX-demibold.woff') format('woff'),
    url('../fonts/woff2/IRANSansX-demibold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/woff/IRANSansX-extrabold.woff') format('woff'),
    url('../fonts/woff2/IRANSansX-extrabold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/woff/IRANSansX-black.woff') format('woff'),
    url('../fonts/woff2/IRANSansX-black.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/woff/IRANSansX-bold.woff') format('woff'),
    url('../fonts/woff2/IRANSansX-bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff/IRANSansX-regular.woff') format('woff'),
    url('../fonts/woff2/IRANSansX-regular.woff2') format('woff2');
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/woff2/Dana-Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/Dana-Bold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/woff2/Dana-DemiBold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/Dana-DemiBold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff2/Dana-Regular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/Dana-Regular.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}