@page "/dashboard"
@attribute [Authorize(Roles = "Owner,Admin")]

<MudCard>
    <MudCardHeader>
        <DxMenu Title="مدیریت داشبوردها" ItemsPosition="ItemPosition.Start" CssClass="card-header">
            <Items>
                <DxMenuItem>
                    <Template>
                        <DxComboBox Data="Dashboards" @bind-Value="_selDash"  />
                    </Template>
                </DxMenuItem>
            </Items>
        </DxMenu>
    </MudCardHeader>
    <MudCardContent>
        <div dir="ltr">
            <DxDashboard @bind-DashboardId="_selDash" Endpoint="api/dashboard" style="width: 100%; height: 75vh;">
            </DxDashboard>
        </div>
    </MudCardContent>
</MudCard>


