@page "/dashboard"
@attribute [Authorize(Roles = "Owner,Admin")]

<MudCard>
    <MudCardHeader>
        <MudPaper Elevation="3" Width="100%" Class="pa-3">
            <MudGrid>
                <MudItem>
                    <MudText Typo="Typo.h5">مدیریت داشبوردها</MudText>
                </MudItem>
                <MudItem>
                    <SfComboBox TItem="string" TValue="string" DataSource="Dashboards" @bind-Value="_selDash"
                                AllowCustom="false" AllowFiltering="true" ShowClearButton="false"/>
                </MudItem>
                <MudItem>
                    <MudButton Color="Color.Error" Variant="Variant.Filled" StartIcon="fas fa-trash" OnClick="RemoveDashboard">حذف داشبورد</MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudCardHeader>
    <MudCardContent>
        <div dir="ltr">
            <DxDashboard @bind-DashboardId="_selDash" Endpoint="api/dashboard" style="width: 100%; height: 75vh;">
            </DxDashboard>
        </div>
    </MudCardContent>
</MudCard>


