@using Samco_HSE.HSEData

<div class="mt-3">
    <MudGrid Justify="Justify.Center">
        <MudItem Class="text-center" md="4" sm="4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="fas fa-plus" OnClick="OpenNewClick">
                افزودن
            </MudButton>
        </MudItem>
        <MudItem Class="text-center" md="4" sm="4">
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary" StartIcon="fas fa-pen" OnClick="EditClick">
                ویرایش
            </MudButton>
        </MudItem>
        <MudItem Class="text-center" md="4" sm="4">
            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="fas fa-trash-alt" OnClick="DeleteClick">
                حذف
            </MudButton>
        </MudItem>
    </MudGrid>
</div>