@using Samco_HSE.HSEData
@inject ISnackbar Snackbar
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="fas fa-oil-well" Class="me-3 mb-1" />
            اطلاعات چاه
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column gap-4">
            <MudTextField Label="نام چاه" Variant="Variant.Outlined" AutoFocus="true" @bind-Value="@(SelWell.Name)" />
            <MudTextField Label="محل چاه" Variant="Variant.Outlined" @bind-Value="@(SelWell.Location)" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">انصراف</MudButton>
        <MudButton Color="Color.Success" IconClass="fas fa-check" OnClick="Submit">تأیید</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public Well SelWell { get; set; } = null!;

    [Parameter]
    public Well SelProject { get; set; } = null!;

    private void Submit()
    {
        if (SelWell.Name == null)
        {
            Snackbar.Add("نام چاه الزامی است.", Severity.Error);
            return;
        }
        var prevWell = SelWell.ProjectName.Wells.FirstOrDefault(x => x.Name == SelWell.Name);
        if (prevWell != null && prevWell.Name == SelWell.Name && prevWell.Oid != SelWell.Oid)
        {
            Snackbar.Add("چاه با همین نام وجود دارد.", Severity.Error);
            return;
        }
        SelWell.Save();
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel() => MudDialog.Cancel();
}