@page "/about"
@using Syncfusion.Blazor.Inputs

@inject IWebHostEnvironment HostEnvironment
<MudGrid>
    <MudItem lg="8" md="8" sm="12">
        <div class="animate__animated animate__fadeInRight">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        درباره برنامه
                    </MudText>
                </MudCardHeader>
                <MudCardContent>
                    <p>
                        سامانه مدیریت جامع HSE برنامه ایست که در عین سادگی مدیریت تمامی داده های واحد ایمنی، بهداشت و محیط زیست را پوشش میدهد. از این سیستم میتوان در تمامی شرکتهای نفتی، پالایشگاه ها و دکل های حفاری استفاده نمود.
                    </p>
                    <p>
                        در تولید این نرم افزار از تجربیات دست اندرکاران و مدیران واحد ایمنی شرکتهای بزرگی چون دانا انرژی و پترو ایران استفاده شده است. محیط کاربری روان و زیبا، پشتیبانی از زبان فارسی و استفاده از به روزترین تکنولوژی برنامه نویسی از ویژگی های این محصول است.
                    </p>
                </MudCardContent>
            </MudCard>
        </div>
        <div class="animate__animated animate__fadeInRight mt-2">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        تغییرات نسخه
                    </MudText>
                </MudCardHeader>
                <MudCardContent Style="height: 170px">
                    <SfTextBox Value="@GetReleaseNote()" Placeholder="No Information" CssClass="w-100 h-100" Multiline="true"
                               Readonly="true" />
                </MudCardContent>
            </MudCard>
        </div>
    </MudItem>
    <MudItem lg="4" md="4" sm="12">
        <div class="d-flex flex-column">
            <div class="card opacity-75 animate__animated animate__fadeInUp h-100">
                <div class="card-body text-center">
                    <img alt="logo" src="images/logo.svg" width="150"/>
                    <h4>Samco® HSE Management System</h4>
                    <p>Version: @GetApplicationVersion()</p>
                </div>
            </div>
            <div class="mt-2 animate__animated animate__fadeInUp">
                <MudCard Elevation="3">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">
                            تماس با ما
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <p>وب سایت: <a style="display: inline" href="https://samcosoft.ir">https://samcosoft.ir</a></p>
                        <p>پشتیبانی: <a style="display: inline" href="mailto:support@samcosoft.ir">support@samcosoft.ir</a></p>
                        <p>تلفن: <a dir="ltr" style="display: inline;" href="tell:+989397532159">+98 939 7532159</a></p>
                    </MudCardContent>
                </MudCard>
            </div>
        </div>
    </MudItem>
</MudGrid>
<AuthorizeView>
    <Authorized Context="_">
        <div class="mt-3 animate__animated animate__zoomInUp">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        اطلاعات مجوز
                    </MudText>
                </MudCardHeader>
                <MudCardContent>
                    @{
                        if (_isTrial)
                        {
                            <MudAlert Severity="Severity.Warning" Elevation="3">
                                شما از نسخه آزمایشی برنامه استفاده می‌کنید. برای دریافت کد فعالسازی با واحد فروش شرکت و یا پشتیبانی فنی تماس بگیرید. برای فعالسازی دسترسی به اینترنت الزامی است.
                            </MudAlert>
                        }
                        if (!string.IsNullOrEmpty(_returnMsg))
                        {
                            <MudAlert Severity="Severity.Info" Elevation="3">
                                @_returnMsg
                            </MudAlert>
                        }
                    }
                    <MudGrid>
                        @{
                            if (_isTrial || !_isValid)
                            {
                                <MudItem md="6" sm="12">
                                    <MudGrid>
                                        <MudItem md="9" sm="12">
                                            <MudCard Elevation="3">
                                                <MudCardHeader>
                                                    <MudText Typo="Typo.h6">فعالسازی</MudText>
                                                </MudCardHeader>
                                                <MudCardContent>
                                                    <SfMaskedTextBox @bind-Value="_activationKey" Mask="AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA" EnableLiterals="true" CssClass="ltr text-center w-100"/>
                                                </MudCardContent>
                                            </MudCard>
                                        </MudItem>
                                        <MudItem md="3" sm="12">
                                            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Activate">فعالسازی</MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                                <MudItem md="6" sm="12">
                                    <MudTextField T="string" @bind-Value="_licenseInfo" Lines="3" Class="text-center ltr"/>
                                </MudItem>
                            }
                            else
                            {
                                <MudItem lg="12" md="12">
                                    <MudTextField T="string" @bind-Value="_licenseInfo" Lines="3" Class="text-center ltr"/>
                                </MudItem>
                                <MudItem lg="12" md="12">
                                    <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Deactivate" IconClass="fas fa-unlock-keyhole">غیر فعالسازی</MudButton>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </div>
    </Authorized>
</AuthorizeView>