@page "/"
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
<PageTitle>Samco HSE Management System - @Configuration["CompanyInfo:Name"]</PageTitle>

<div class="container-fluid">
    <AuthorizeView>
        <Authorized>
            <div class="card opacity-75 animate__animated animate__fadeIn animate__slow mb-3">
                <div class="card-body">
                    <h6 style="color: black">@_loggedUser?.PersonnelName عزیز سلام! به پنل مدیریت HSE خوش آمدید!</h6>
                    <hr class="my-3">
                    <MudAlert Severity="Severity.Info" Icon="fa fa-info" Elevation="3">
                        با توجه به آزمایشی بودن این نسخه، ممکن است برخی ایرادات در آن وجود داشته باشد که به مرور برطرف می‌گردند. از شکیبایی شما سپاسگزاریم.
                        در صورت داشتن سوال در مورد قابلیت‌های سیستم و یا بروز خطا با ایمیل <a href="mailto:info@samcosoft.ir">SamcoSoft Support</a> ارتباط برقرار کنید.
                    </MudAlert>
                </div>
            </div>
            <div class="animate__animated animate__fadeInUp">
                <MudCard>
                    <MudCardHeader>
                        <h2 class="mt-2">آمار سیستم</h2>
                    </MudCardHeader>
                    <MudCardContent>
                        <DxDashboard @bind-DashboardId="@_dashboardId" WorkingMode="WorkingMode.ViewerOnly"
                                     Endpoint="api/dashboard" style="width: 100%; height: 800px;"/>
                    </MudCardContent>
                </MudCard>
            </div>

        </Authorized>
        <NotAuthorized>
            <div class="card opacity-75 animate__animated animate__zoomInUp">
                <div class="card-body">
                    <h6 style="color: black">همکار عزیز سلام! به پنل مدیریت HSE خوش آمدید!</h6>
                    <hr class="my-3">
                    <p>لطفاً وارد سیستم شوید.</p>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>