@using Samco_HSE.HSEData

<div class="mt-3">
    <Row ItemsPerRow="ItemsPerRow.Three">
        <Button ButtonStyle="ButtonStyle.None" Color="Color.Success" Icon="fas fa-plus" OnClick="OpenNewClick">افزودن</Button>
        <Button ButtonStyle="ButtonStyle.Round" Color="Color.Primary" Icon="fas fa-pen" OnClick="EditClick">ویرایش</Button>
        <PopConfirmButton Placement="Placement.Bottom" Color="Color.Danger" Icon="fas fa-trash-alt" ConfirmIcon="fas fa-trash" ConfirmButtonColor="Color.Danger" Text="حذف" Content="آیا از حذف مورد انتخاب شده مطمئنید؟"
                          OnConfirm="DeleteClick"/>
        @*<Button ButtonStyle="ButtonStyle.Round" Color="Color.Danger" Icon="fas fa-trash" OnClick="DeleteClick">حذف</Button>*@
    </Row>
</div>