@inherits LayoutComponentBase

<PageTitle>Samco HSE Manager</PageTitle>

<DxLayoutBreakpoint MaxWidth="1200"
                    @bind-IsActive="@IsMobileLayout" />

<div class="page">
    <DxGridLayout CssClass="page-layout">
        <Rows>
            @if (IsMobileLayout)
            {
                <DxGridLayoutRow Areas="header" Height="auto"></DxGridLayoutRow>
                <DxGridLayoutRow Areas="sidebar" Height="auto"></DxGridLayoutRow>
                <DxGridLayoutRow Areas="content"/>
                <DxGridLayoutRow Areas="footer" Height="auto"/>
            }
            else
            {
                <DxGridLayoutRow Areas="header header" Height="auto" />
                <DxGridLayoutRow Areas="@(IsSidebarExpanded ? "sidebar content" : "content content")" />
                <DxGridLayoutRow Areas="footer footer" Height="auto" />
            }
        </Rows>
        <Columns>
            @if (!IsMobileLayout)
            {
                <DxGridLayoutColumn Width="auto" />
                <DxGridLayoutColumn />
            }
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="layout-item">
                <Template>
                    <Header @bind-ToggleOn="@IsSidebarExpanded"></Header>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="sidebar" CssClass="layout-item top-space">
                <Template>
                    <NavMenu StateCssClass="@NavMenuCssClass" />
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="content" CssClass="content top-space px-4 layout-item">
                <Template>
                    @Body
                </Template>
            </DxGridLayoutItem>
              <DxGridLayoutItem Area="footer" CssClass="layout-item">
                <Template>
                    <footer class="footer bg-light fixed-bottom">Copyright 2022-@DateTime.Now.Year Samco Software Group. All rights reserved.</footer>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>
